# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure Reports
allure-results/
allure-report/

# Test Data
test-data/

# Env
.env
.env.local
.env.*.local

# Screenshots
screenshots/

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo